{% extends "CIGB.html" %}
{% block add_button %}
  <input class="text-blue-700 hover:text-white border border-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-3 py-1 text-center dark:border-blue-500 dark:text-gray-400 dark:hover:text-white dark:hover:bg-blue-500 dark:focus:ring-blue-800" type="button" value="Agregar Envase" onclick="openForm(accion='Agregar', objetivo='Envase', NaN, new_url='{{ BASE_URL }}/add_envase')" class="boton">
{% endblock %}
{% block contenido %}
<div>
  <div class="table-container">
    <table class="table table-success table-striped" style="margin-bottom: 0px;">
        <thead>
            <tr>
                <th>Opciones</th>
                <th>Id</th>
                <th>Orden.Llen</th>
                <th>Orden.Form</th>
                <th>Lote</th>
                <th>Producto</th>
                <th>Usuario</th>
                <th>Fecha.env</th>
                <th>Cant.Env</th>
                <th>Destino</th>
                <th>Fecha.Lib</th>
                <th>Cant.Lib</th>
                <th>Exist.Lib</th>
        </thead>
        <tbody id="main_table">
          {% for orden in ordenEnvase_data %}
          <tr>
              <td class="opciones">
                <div>
                  <button type="button" class="table-button btn-outline-danger" onclick="eliminar('Envase','{{ orden.id_orden_envase }}')">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="15" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                    <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"/>
                    <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"/>
                    </svg>
                      </button>
                  <button valores="orden_llenado·{{ orden.id_orden_llenado.id_orden_llenado }}|fecha_envase·{{ orden.fecha_envase|date:'YYYY-mm-dd' }}|cantidad_envasar·{{ orden.cantidad_envasar }}|destino·{{ orden.destino }}|fecha_liberada·{{ ordenfecha_liberada|date:'YYYY-mm-dd' }}|cantidad_liberada·{{ orden.cantidad_liberada }}|exist_liberada·{{ orden.exist_liberada }}|observaciones·{{ orden.observaciones }}|nombre·{{ orden.nombre }}" onclick="openForm(accion='Modificar', objetivo='{{ orden.nombre }}',fila=this, new_url='{{ BASE_URL }}/mod_envase')" type="button" class="table-button btn-outline-warning">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="15" fill="currentColor" class="bi bi-pencil-fill" viewBox="0 0 16 16">
                    <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.5.5 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11z"/>
                    </svg>
                      </button>
                  </div>
              </td>
              <td>{{ orden.nombre }}</td>
              <td>{{ orden.id_orden_llenado.nombre }}</td>
              <td>{{ orden.id_orden_llenado.id_orden_formulacion.nombre }}</td>
              <td>{{ orden.id_orden_llenado.id_orden_formulacion.id_IFA.lote }}</td>
              <td>{{ orden.id_orden_llenado.id_orden_formulacion.id_IFA.id_producto.nombre }}</td>
              <td>{{ orden.id_usuario.usuario }}</td>
              <td>{{ orden.fecha_envase|date:"d/m/Y" }}</td>
              <td>{{ orden.cantidad_envasar }}</td>
              <td>{{ orden.destino }}</td>
              <td>{{ orden.fecha_liberada|date:"d/m/Y" }}</td>
              <td>{{ orden.cantidad_liberada }}</td>
              <td>{{ orden.exist_liberada }}</td>
          </tr>
          {% endfor %}
      </tbody>
    </table>
</div>
</div>

<script>
    document.getElementById('envase').classList.add('selected')
</script>
{% endblock %}

{% block form %}
<div id="form">
  <div id="border">
  <div>
      <h1><span id="accion">Crear</span> <span id="objetivo">Cuenta</span></h1>
  </div>
  <div class="main-form-container">
      <div class="form-container">
        <form action="add_envase/" id="formulario">
          {% csrf_token %}
          <div class="form-section">
              <div>
                  <select name="orden_llenado" id="orden_llenado">
                      {% for orden_llenado in ordenLlenado_data %}
                          <option value="{{ orden_llenado.id_orden_llenado }}">{{ orden_llenado.nombre }}</option>
                      {% endfor %}
                  </select>
                  <label for="orden_llenado">Orden de Llenado</label>
              </div>
          </div>
      </div>
      <div class="form-section">
              <div>
                <input placeholder="" id="fecha_envase" name="fecha_envase" type="date">
                <label for="fecha_envase">Fecha de envase</label>
            </div>
          <div>
              <input placeholder="" id="cantidad_envasar" name="cantidad_envasar" type="text">
              <label for="cantidad_envasar">Cantidad a envasar</label>
          </div>  
      </div>
      <div class="form-section"> 
          <div>
              <input placeholder="" id="destino" name="destino" type="text">
              <label for="destino">Destino</label>
          </div> 
          <div>
              <input placeholder="" id="fecha_liberada" name="fecha_liberada" type="date">
              <label for="fecha_liberada">Fecha de liberación</label>
          </div> 
      </div>
      <div class="form-section">
          <div>
              <input placeholder="" id="cantidad_liberada" name="cantidad_liberada" type="text">
              <label for="cantidad_liberada">Cantidad liberada</label>
          </div>
          <div>
              <input placeholder="" id="exist_liberada" name="exist_liberada" type="text">
              <label for="exist_liberada">Existencias liberadas</label>
          </div> 
      </div>
          <div class="form-section">
              <input class="w-full p-2 bg-gray-50 rounded-full font-bold text-gray-900 border-[4px] border-gray-700 hover:border-blue-500 transition-all duration-200" id="form_button" type="submit" value="Usuario" class="boton">
              <input class="w-full p-2 bg-gray-50 rounded-full font-bold text-gray-900 border-[4px] border-gray-700 hover:border-blue-500 transition-all duration-200" type="button" value="Cancelar" class="boton" onclick="openForm(accion='Cancelar')">
          </div> 
      <input class="form_hidden_input" id="nombre" name="nombre" type="text">
      </form>
      </div>
  </div>
  </div>
</div>
<script>
  document.addEventListener('DOMContentLoaded', function() {
    const form = document.getElementById('formulario');
    
    form.addEventListener('submit', function(event) {
      event.preventDefault();
      var data = new FormData(this);
      if(this.action.includes('/add_envase')){
        fetch('/add_envase/', {  // Asegúrate de que esta URL coincida con la ruta definida en urls.py
          method: 'POST',
          body: data,})
        .then(response => response.json())
        .then(data => {
          if (data.status === 'success') {
            alert(data.message);
            window.location.reload();
          } else {
            alert(data.message);  // Muestra un mensaje de error
          }
        })
        .catch((error) => {
          console.error('Error:', error);
        });
      }else if(this.action.includes('/mod_envase')){
        data.append('target_orden', document.getElementById('objetivo').textContent)
        fetch('/mod_envase/', {  // Asegúrate de que esta URL coincida con la ruta definida en urls.py
        method: 'POST',
        body: data,})
        .then(response => response.json())
        .then(data => {
          if (data.status === 'success') {
            alert(data.message);
            window.location.reload();
          } else {
            alert(data.message);  // Muestra un mensaje de error
          }
        })
        .catch((error) => {
          console.error('Error:', error);
        });
      }
    });
  });
</script>
{% endblock %}