{% extends "index.html" %}
{% block contenido %}
<div id="main-img">
    <div class="tittle-label">
        <h6 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-dark">Departamento</h6>
        <h6 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-dark">de</h6>
        <h6 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-dark">Formulación</h6>
        <h6 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-dark">y</h6>
        <h6 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-dark">Envase</h6>
    </div>
    <div class="tittle-label">
        <h5 class="font-normal text-gray-700 dark:text-gray-400text-xl font-semibold tracking-tight text-gray-900 dark:text-white">Investigamos, producimos y comercializamos</h5>
        <h5 class="font-normal text-gray-700 dark:text-gray-400text-xl font-semibold tracking-tight text-gray-900 dark:text-white">productos biofarmacéuticos</h5>
    </div>
    <div class="tittle-label">
        <a href="login/" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Iniciar Sesión</a>
    </div>
</div>
<script>
    document.getElementById('main').classList.add('selected')
</script>
{% endblock %}